# Copy this file to terraform.tfvars and fill in your own values.

allowed_ssh_cidr = "YOUR_PUBLIC_IP/32" # e.g. curl ifconfig.me
key_name         = "vockey"            # default key pair name in AWS Academy labs
